body {
    font-family: 'Cairo', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.hidden { display: none; }

.animate-fade {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* تحسين شكل السكرول */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 10px;
}
